#autodetect_stripe {
	width:100%;
	height:50px;
	line-height: 50px;
	background: #F9EDC1;
	text-align:center;
	font-size: 12px;
	display: none;
	position: relative;
	color: #222;
}

#autodetect_stripe .cancel {
	position: absolute; 
	top: 10px;
	right: 10px;
	color: #666;
	cursor: pointer;
}

#autodetect_stripe .text {
	margin-right:10px;
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #222;
}

#autodetect_stripe .confirm {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 14px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	margin: 0;
	font-family: inherit;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}